<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%-include("includes/header.ejs")%>
    <h2>Hello, this page belong to @ <%= data.name %></h2>
    <button>Followers <%= data.followers %></button>
    <button>Following <%= data.following %></button>
    <hr>
    <h3>Post-1</h3>
    <%for(let post of data.posts){ %>
        
        <img src="<%= post.image %>" alt="">
        <button>Followers <%= post.likes %></button>
    <button>Following <%= post.comments %></button>
        
        <%}%>
    <%-include("includes/footer.ejs")%>

        <script src="/script.js"></script>
</body>

</html>